.cardWrapper {
  position: relative;
  background-color: var(--background);
  border: 1px solid var(--grey-color);
  border-radius: 12px;
  width: 100%;
  height: 502px;
  padding: 140px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.companyLogo {
  position: absolute;
  bottom: 380px;
  left: 20px;
  height: auto;
  width: auto;
}

.textReview {
  font-size: 20px;
  line-height: 1.75;
  color: var(--text-grey-color);
}

.quoteIcon {
  display: block;
  margin-left: auto;
  fill: var(--text-grey-color);
}

.authorContainer {
  display: flex;
  gap: 17px;
}

.authorPhoto {
  width: 60px;
  height: 60px;
}

.authorName {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.46;
}

.authorPosition {
  font-size: 20px;
  line-height: 1.4;
}

@media screen and (min-width: 1440px) {
  .cardWrapper {
    width: calc((100% - 36px) / 3);
    padding-top: 160px;
  }
}
