.testimonialSection {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-width: 320px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 755px;
  padding: 46px 0;
}

@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-devide-pixel-ratio: 2) {
  .testimonialSection {
    background-image: url("/images/background@2x.jpg");
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  width: 1363px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 0.85;
  text-align: center;
}
