.sliderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.btnBar {
  display: flex;
  gap: 14px;
}

@media screen and (min-width: 1440px) {
  .sliderContainer {
    flex-direction: row;
  }
}
